{{#each groupCharacters as |character|}}
<div class="col-md-4">
    <div class="card">
        <h2><a href="{{dataValues.link}}">{{dataValues.character_name}}</a></h2>
        <h4>{{dataValues.race}} {{dataValues.class}}</h4>
        <h5>Owned By: <a href="/user/{{user_id}}">{{user_name}}</a></h5>        
        <p>{{dataValues.description}}</p>
    </div>
</div>
{{/each}}
{{#unless groupCharacters}}
    Invite group members by sharing the group ID!
{{/unless}}