{{#each member.character as |character|}}
<div class="col-md-4">
      <h2>{{name}}</h2>
      <h5>Owned By: User_name</h5>
      <h4>{{race}} {{class}}</h4>
      <p>{{description}}</p>
      <small><a href="{{link}}">D&D Beyond Link: {{link}}</a></small>
</div>