


{{#each group}}
<section id="user-infos" class="container group-group">
    <h1>Groups</h1>
    <div class="user-info group-name">
      <h3>{{group_name}}</h3>
      <h5>{{campaign}}</h5>
      <p>{{announcement}}</p>
      <ul>
        <li>
          <h3>Members: {{members}} Dungeon Master: {{dun_master_id}}</h3>
        </li>
        <li><a href="#" class="btn btn-reverse">Member1</a></li>
        <li><a href="#" class="btn btn-reverse">Member2</a></li>
        <li><a href="#" class="btn btn-reverse">Member3</a></li>
        <li><a href="#" class="btn btn-reverse">Member4</a></li>
        
      </ul>
      <div class="time">
        <small>Meetings: <span>{{meetings}}</span></small>
      </div>
    </div>

   



    </div>
  </section>
    {{else}}
      <p>No group available.</p>
    {{/each}}
<br>
<br>
<br>

 <div class="user-info group-name">
      <h3>Pirate Thrashers </h3>
      <h5>Salt Marsh</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aspernatur tempora nisi quibusdam doloribus
        adipisci cumque quidem perferendis. Iusto, natus!</p>
      <ul>
        <li>
          <h3>Members:      Dungeon Master:     </h3>
        </li>
        <li><a href="#" class="btn btn-reverse">Scott James</a></li>
        <li><a href="#" class="btn btn-reverse">Sarah Short</a></li>
        <li><a href="#" class="btn btn-reverse">Gilly Fair</a></li>
        <li><a href="#" class="btn btn-reverse">Deandre Fields</a></li>
        
      </ul>
      <div class="time">
        <small>Meetings: <span>Day, Date, Month, Time</span></small>
      </div>
    </div>