<h1>Groups</h1>
{{#each groups as |group| }}
<section id="user-infos" class="container group-group">
  <div class="user-info group-name">
    <h1 class="group-link"><a href="/groups/{{id}}">{{group_name}}</a></h1>
    <br/>
    <h5>{{campaign}}</h5>
    <br/>
    <ul>
      <li>
        <h5>Members: {{members}}</h5>
        <h5> Dungeon Master: {{dun_master_id}}</h5>
      </li>
      <li><a href="#" class="btn btn-reverse">Member1</a></li>
      <li><a href="#" class="btn btn-reverse">Member2</a></li>
      <li><a href="#" class="btn btn-reverse">Member3</a></li>
      <li><a href="#" class="btn btn-reverse">Member4</a></li>

    </ul>
    <div class="time">
      <small>Meetings: <span>{{meetings}}</span></small>
    </div>
  </div>
</section>
{{else}}
<p>No group available.</p>
{{/each}}

<script src="/js/group.js"></script>