<section class="group-info" class="container">
  <div class="information">
    <div class="row">
    <div class="col-md-6">
    <h1 id="title">{{group.group_name}}</h1>
    <h4 id="campaign">{{group.campaign}}</h4>
    <small>{{group.meetings}}</small>
    </div>
    <div class="col-md-6 dmInfo">
      <h4>DM: <a href="/user/{{group.dun_master_id}}">{{group.dungeonMaster}}</a></h4>
      <h6>Roll20: <a href="https://roll20.net">Group</a></h5>
      <h6>Discord: <a href="https://discord.com">Discord</a></h5>
    </div>
    </div>
    <br/><br/>
    <h6>A word from your DM:</h6>
    <div id="announcement"><p>{{group.announcement}}</p></div>
    <br/>
    <h3>Members:</h3>
    <div class="row">
      {{> group-characters}}
    </div>
  </div>

  {{!-- <h1>Campaign</h1>
  <div class="user-info">
    <h3>Current</h3>
    <h5>Current Name</h5>
    <div class="announce">
      <h6>Announcements</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aspernatur tempora nisi quibusdam doloribus
        adipisci cumque quidem perferendis. Iusto, natus!</p>


    </div>

    <ul>
      <li>
        <h3>Players:</h3>
      </li>
      <li><a href="#" class="btn btn-reverse">Player1</a></li>
      <li><a href="#" class="btn btn-reverse">Player2</a></li>
      <li><a href="#" class="btn btn-reverse">Player3</a></li>
      <li><a href="#" class="btn btn-reverse">Player4</a></li>

    </ul>
    <div class="time">
      <small>Meetings: <span>Day, Date, Month, Time</span></small>
    </div>
  </div>




  </div> --}}
</section>