{{#if isDM}}
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Edit Group</button>

  <div id="id01" class="modal">

    <form class="modal-content animate login-form">

      <br />
      <br />
      <div class="container" id="form-font-properties">

        <label for="uname"><b>Campaign</b></label>
        <input type="text" placeholder="Lost Mine of Phandelver" id="uname">

        <label for="psw"><b>Meetings</b></label>
        <input type="text" placeholder="Mondays @ 5:00PM EST" id="psw">

        <label for="announcement"><b>Announcement</b></label>
        <textarea type="text" style="height:200px; width: 100%" placeholder="Don't forget to make your characters!" id="form-announcement"></textarea>
        <br />
        <br />

        <button type="submit">Update Group</button>

      </div>
      <br />
      <br />
    </form>
  </div>
{{/if}}
<section class="group-info" class="container">
  <div class="information">
    <div class="row">
      <div class="col-md-6">
        <div class="group-info-title">
          <h1 id="title">{{group.group_name}}</h1>
          <small id="group-id">ID: {{group.id}}</small>
        </div>
        <h4 id="campaign">{{group.campaign}}</h4>
        <small>{{group.meetings}}</small>
      </div>
      <div class="col-md-6 dmInfo">
        <h4>DM: <a href="/user/{{group.dun_master_id}}">{{group.dungeonMaster}}</a></h4>
        <h6>Roll20: <a href="https://roll20.net">Group</a></h5>
          <h6>Discord: <a href="https://discord.com">Discord</a></h5>
      </div>
    </div>
    <br /><br />
    <h6>A word from your DM:</h6>
    <div id="announcement">
      <p>{{group.announcement}}</p>
      {{#unless group.announcement}}
        <p>Click 'Edit Group' to create your DM announcement!</p>
      {{/unless}}
    </div>
    <br />
    <h3>Members:</h3>
    <div class="row">
      {{> group-characters}}
    </div>
  </div>
</section>