<h1>Groups</h1>
{{#each groups as |group| }}
<section id="user-infos" class="container group-group">
  <div class="user-info group-name">
    <h3>{{group_name}}</h3>
    <h5>{{campaign}}</h5>
    <p>{{announcement}}</p>
    <ul>
      <li>
        <h3>Members: {{members}} Dungeon Master: {{dun_master_id}}</h3>
      </li>
      <li><a href="#" class="btn btn-reverse">Member1</a></li>
      <li><a href="#" class="btn btn-reverse">Member2</a></li>
      <li><a href="#" class="btn btn-reverse">Member3</a></li>
      <li><a href="#" class="btn btn-reverse">Member4</a></li>

    </ul>
    <div class="time">
      <small>Meetings: <span>{{meetings}}</span></small>
    </div>
  </div>
</section>
{{else}}
<p>No group available.</p>
{{/each}}