{{#if isDM}}
<div class="row">
  <div class="col-md-6">
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Edit Group</button>

    <div id="id01" class="modal">

      <form class="modal-content animate edit-group-form">

        <br />
        <br />
        <div class="container" id="form-font-properties">

          <label for="uname"><b>Campaign</b></label>
          <input type="text" placeholder="{{group.campaign}}" id="edit-campaign">

          <label for="psw"><b>Meetings</b></label>
          <input type="text" placeholder="{{group.meetings}}" id="edit-meetings">

          <label for="announcement"><b>Announcement</b></label>
          <textarea type="text" style="height:200px; width: 100%" placeholder="{{group.announcement}}"
            id="edit-announcement"></textarea>
          <br />
          <br />

          <button type="submit">Update Group</button>

        </div>
        <br />
        <br />
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <button class="delete-group" type="delete">Delete Group</button>
  </div>
</div>
{{/if}}
<section class="group-info" class="container">
  <div class="information">
    <div class="row">
      <div class="col-md-6">
        <div class="group-info-title">
          <h1 id="title">{{group.group_name}}</h1>
          <small id="group-id">{{group.id}}</small>
        </div>
        <h4 id="campaign">{{group.campaign}}</h4>
        <small>{{group.meetings}}</small>
      </div>
      <div class="col-md-6 dmInfo">
        <h4>DM: <a href="/user/{{group.dun_master_id}}">{{group.dungeonMaster}}</a></h4>
        <h6>Roll20: <a href="https://roll20.net">Group</a></h5>
          <h6>Discord: <a href="https://discord.com">Discord</a></h5>
      </div>
    </div>
    <br /><br />
    <h6>A word from your DM:</h6>
    <div id="announcement">
      <p>{{group.announcement}}</p>
      {{#unless group.announcement}}
      <p>Click 'Edit Group' to create your DM announcement!</p>
      {{/unless}}
    </div>
    <br />
    <h3>Members:</h3>
    {{#unless hasCharacter}}
      <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add Character</button>

    <div id="id01" class="modal">

      <form class="modal-content animate add-character-form">

        <br />
        <br />
        <div class="container" id="form-font-properties">

          <label for="character-name"><b>Character Name</b></label>
          <input type="text" placeholder="Enter Character Name" id="character-name">
          <small>For name ideas, visit <a href="https://www.fantasynamegenerators.com/">Fantasy Name Generators</a></small>
          <br />
          <br />
          <label for="class"><b>Class</b></label>
          <input type="text" placeholder="Enter Character Class" id="character-class">
          <small>For class info, visit <a href="https://www.dndbeyond.com/classes">D&D Beyond</a></small>
          <br />
          <br />
          <label for="race"><b>Race</b></label>
          <input type="text" placeholder="Enter Character Race" id="character-race">
          <small>For race info, visit <a href="https://www.dndbeyond.com/races">D&D Beyond</a></small>
          <br />
          <br />
          <label for="description"><b>Description</b></label>
          <textarea type="text" placeholder="Enter Character Description" style="height:200px; width: 100%" id="character-description"></textarea>
          <br />
          <br />

          <label for="link"><b>D&D Beyond Link</b></label>
          <input type="text" placeholder="Enter a link to your Character Sheet" id="character-link">
          <small>Create your character sheet at <a href="https://www.dndbeyond.com/characters/builder">D&D Beyond</a></small>

          <br />
          <br />

          <button type="submit">Create Character</button>

        </div>
        <br />
        <br />
      </form>
    </div>
    {{/unless}}
    <div class="row">
      {{> group-characters}}
    </div>
  </div>
</section>

{{#if isDM}}
<script src="/js/group.js"></script>
{{/if}}

{{#unless hasCharacter}}
<script src="/js/new-character.js"></script>
{{/unless}}